/* Reset */
    html, body {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: "Segoe UI",  sans-serif;
      background-color: #f8f9fc;
      font-size: 16px;
      color: #333;
      
    }


    header {
      background: linear-gradient(to right, #0052cc, #011839);
      padding: 1.4rem 1.5rem;
    }

    .navbar {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .logo {
      font-size: 1.5rem;
    }

    nav {
      flex-grow: 1;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
    }

    nav ul li a:hover {
      color: #cce0ff;
    }

    .menu-toggle {
      display: none;
      font-size: 1.8rem;
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      .menu-toggle {
        display: block;
      }

      .home img {
        display: none;
      }

      nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        display: none;
        padding: 1rem;
        border-radius: 8px;
      }

      nav ul.show {
        display: flex;
      }

      nav ul li {
        text-align: center;
      }
    }

    main {
      padding: 2rem 1rem;
    }

    .home {
      display: flex;              /* <- isso é essencial! */
      justify-content: center;    /* centraliza horizontalmente */
      align-items: center;        /* centraliza verticalmente */
      height: 100vh;              /* ocupa toda a altura da tela */
      display: none;              /* opcional, se for esconder inicialmente */
    }


    .home img {
      display: block;
      width: auto;    /* 100% da largura da tela */
      height: 100vh;   /* 100% da altura da tela */
      object-fit: cover; /* cobre toda a área sem distorcer */
      margin: 0 auto; /* centraliza horizontalmente */
    }

      @media (max-width: 1020px) {
      .home {
        display: none;
      }
    }

      @media (max-width: 768px) {
      .home {
        display: none;
      }
    }

   

    .sobre {
    
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 0 1rem;
    }

    .bloco {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      flex-wrap: nowrap;
    }

    .imagem1, .texto {
      flex: 1;
    }

    .imagem1 img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
     
      

    }

    .imagem1 {
    position: relative;
    display: inline-block;
  }

  .imagem1::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-40%);
    width: 60%;
    height: 20px;
    background: rgba(48, 48, 48, 0.2);
    border-radius: 50%;
    filter: blur(5px);
    z-index: -1;
  }

  .imagem2 img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
     
      

    }

    .imagem2 {
    position: relative;
    display: inline-block;
  }

  .imagem2::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-90%);
    width: 60%;
    height: 20px;
    background: rgba(76, 76, 76, 0.2);
    border-radius: 50%;
    filter: blur(5px);
    z-index: -1;
  }

  .imagem3 img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
     
      

    }

    .imagem3 {
    position: relative;
    display: inline-block;
  }

  .imagem3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 20px;
    background: rgba(48, 48, 48, 0.2);
    border-radius: 50%;
    filter: blur(5px);
    z-index: -1;
  }

  .imagem4 img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      display: block;
      margin: 0 auto;
     
      

    }

    .imagem4 {
    position: relative;
    display: inline-block;
  }

  .imagem4::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-40%);
    width: 60%;
    height: 20px;
    background: rgba(48, 48, 48, 0.2);
    border-radius: 50%;
    filter: blur(5px);
    z-index: -1;
  }

    .texto {
      padding: 1rem;
    }

    .texto h3 {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      color: linear-gradient(to right, #0052cc, #011839);
    }

    .texto p {
      font-size: 1.4rem;
      line-height: 2;
      color: #444;
    }

    /* Alternar imagem direita */
    .imagem-direita {
      flex-direction: row-reverse;
    }

    @media (max-width: 768px) {
      .bloco {
        flex-direction: column;
        text-align: center;
      }

      .imagem, .texto {
        flex: 1 1 100%;
        order: unset !important;
      }

      .texto h3 {
        font-size: 2rem;
      }

      .texto p {
        font-size: 1.2rem;
      }
    }

    footer {
      background: linear-gradient(to right, #0052cc, #011839);
      color: #fff;
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
    }