<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7QCLW30G48"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7QCLW30G48');
</script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/sobre.css" />
 
  <title>Fluxxo Soluções - Sobre Nós</title>
  
</head>
<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <a href="/" style="color: white; text-decoration: none; font-weight: bold;">Fluxxo Soluções</a>
      </div>
      <button class="menu-toggle" onclick="toggleMenu()">☰</button>
      <nav>
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/servicos/">Serviços</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/sobre/">Sobre Nós</a></li>
          <li><a href="/contato/">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="sobre-nos">
    <h1 class="descricao">Sobre Nós</h1>
    <p class="descricao" >
      Somos uma empresa dedicada a oferecer soluções contábeis, fiscais e de gestão com inovação e compromisso. 
      Nosso diferencial está na união de especialistas em diferentes áreas, garantindo que sua empresa receba 
      um atendimento completo e personalizado.
    </p>

    

    <!-- Anderson Lima -->
    <div class="membro">
      <img src="../static/img/socio2.png" alt="Anderson Lima">
      <div class="membro-texto">
        <h2>Anderson Lima</h2>
        <h4>Responsável pelo desenvolvimento e Consultoria</h4>
        <p>
          Anderson Lima é especialista em desenvolvimento de planilhas inteligentes e consultoria tecnológica, trazendo soluções práticas e inovadoras para otimizar processos e apoiar na tomada de decisões. Com foco em eficiência e automação, atua na criação de ferramentas personalizadas que simplificam rotinas e aumentam a produtividade.
        </p>
      </div>
    </div>



    <!-- Amanda Santos -->
    <div class="membro">
      <img src="../static/img/socio1.png" alt="Amanda Santos">
      <div class="membro-texto">
        <h2>Amanda Santos</h2>
        <h4>Responsável pelo Comercial e Desenvolvimento</h4>
        <p>
          Amanda atua como ponte entre inovação e gestão, liderando as áreas comercial, financeira e tecnológica. Seu foco está no desenvolvimento de sites e sistemas, além da consultoria em marketing digital, SEO e ADS, oferecendo soluções modernas que otimizam processos, ampliam a presença online e fortalecem o relacionamento com os clientes.
        </p>
      </div>
    </div>

  </section>
  
 <footer>
    &copy; 2025 Fluxxo Soluções - Todos os direitos reservados
  </footer>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
   $(document).ready(function() {
     $(".sobre-nos").slideDown(1000);
 });
 function toggleMenu() {
      const menu = document.getElementById("menu");
      menu.classList.toggle("show");
    }
 
  </script>
</body>
</html>